{% extends "base.html" %}

{% block title %}Edit Attendance{% endblock %}
{%block heading %}Edit Attendance{% endblock %}
{% block content %}
<h2>Edit Attendance</h2>
<form method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ attendance.username }}" readonly>
    </div>
    <div class="mb-3">
        <label for="course_code" class="form-label">Course Code</label>
        <input type="text" class="form-control" id="course_code" name="course_code" value="{{ attendance.course_code }}" readonly>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Attendance</label>
        <span class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="attendance" id="present" value="Present" required>
            <label class="form-check-label" for="present">Present</label>
        </span>
        <span class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="attendance" id="absent" value="Absent" required>
            <label class="form-check-label" for="absent">Absent</label>
        </span>
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" id="date" name="date" required>
    </div>
    <button type="submit" class="btn btn-primary">Edit Marks</button>
</form>
{% endblock %}
