{% extends "base.html" %}

{% block title %}Manage Marks{% endblock %}
{% block heading %}Manage Marks{% endblock %}

{% block content %}
<h1>Manage Marks</h1>
<form method="POST" action="{{ url_for('searchmarks_by_username') }}">
    <div class="mb-3">
        <label>Search Marks By Username</label>
        <div></div>
        <input type="text" class="form-control" name="username" placeholder="Search Marks by Username" required>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<form method="POST" action="{{ url_for('searchmarks_by_course') }}">
    <div class="mb-3">
        <label>Search Marks By Course Code</label>
        <div></div>
        <input type="text" class="form-control" name="course_code" placeholder="Search Marks by Course Code" required>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<table border="1">
    <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Course Code</th>
            <th>Exam Type</th>
            <th>Marks Obtained</th>
            <th>Max Marks</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for mark in marks %}
            <tr>
                <td>{{ mark.id }}</td>
                <td>{{ mark.username }}</td>
                <td>{{ mark.course_code }}</td>
                <td>{{ mark.ExamType }}</td>
                <td>{{ mark.marks_obtained }}</td>
                <td>{{ mark.max_marks }}</td>
                <td>
                    <a href="{{ url_for('editmarks', username=mark.username, course_code=mark.course_code) }}">
                        <button type="button">Edit</button>
                    </a>
                    <form action="{{ url_for('deletemarks') }}" method="POST" style="display:inline;">
                        <input type="hidden" name="username" value="{{ mark.username }}">
                        <input type="hidden" name="course_code" value="{{ mark.course_code }}">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
